/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Table & mobile */
@media (max-width: 991.98px) {
  /* 1. ẩn navbar trên tablet và mobile */
  .navbar {
    display: none;
  }

  /* 2. chuyển logo vào giữa */
  .header-top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 3. Căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* 4.overlay */
  .menu-overlay {
    /* là một thuộc tính định vị dùng để cố định vị trí của một phần tử theo khung nhìn (viewport) của trình duyệt. 💻 */
    position: fixed;
    background: rgb(0, 0, 0, 0.3);
    /* cách 0 ở 4 hướng để phủ đều đến tối đa 4 góc */
    inset: 0;
    z-index: 1;
    /* bình thường ẩn overlay đi */
    opacity: 0;
    /* ẩn lớp phủ hoàn toàn để có thể dùng những tác vụ bình thường */
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5. kiểm tra nếu check box được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    /* độ mờ bóng của lớp bóng */
    opacity: 1;
    /* ẩn và hiện lớp bóng ảnh hưởng đến các nút tác vũ khi ấn vào thanh menu */
    visibility: visible;
  }

  /* 6. code cho menu drawer */
  .menu-drawer {
    /* là một thuộc tính định vị dùng để cố định vị trí của một phần tử theo khung nhìn (viewport) của trình duyệt. 💻 */
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translate(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  /* 7. kiểm tra nếu check box được check thì hiện menu drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
    transition: 0.5s;
  }

  /* 8. menu top*/
  .Close__menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* Khối hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero__content {
    order: 2;
  }

  .hero__media {
    order: 1;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* Khối service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }

  .service__img {
    width: 100%;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  /* work list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__media {
    width: 100%;
  }

  /* ẩn ảnh small */
  .about__img--small {
    display: none;
  }

  .about__img--big {
    width: 100%;
    /* bo 4 góc */
    border-radius: 15px;
    margin: 25px auto;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }

  /* team list */
  .team__list{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .team-item__thumb{
    margin: 0 auto;
  }

  /* install */
  .install__img{
    display: none;
  }

  .install__content{
    width: 90%;
    margin: 0 auto;
}

/* Table */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (max-width: 767.98px) {
}

/* Tạm ẩn không liên quan */
.footer {
  display: none;
}
